.buttonContinue{
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #32a852;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    border-radius: 8px;
    box-shadow: #32a852 0px 0px 8px
}

.buttonContinue:hover, .buttonContinue:focus {
    background: #179b77;
}

.buttonContinue:hover, .closeButton:hover{
    cursor: pointer;
}

.closeButton {
    color: grey
}

.buttonAccept{
    
}

.buttonReject{
    background: red;
    box-shadow: red 0px 0px 8px;
}

.buttonReject:hover, .buttonReject:focus {
    background: #9b1717;
}