@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.brand {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00369a+0,00c9cb+100 */
background: #00369a; /* Old browsers */
background: -moz-linear-gradient(top,  #00369a 0%, #00c9cb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00369a 0%,#00c9cb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00369a 0%,#00c9cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00369a', endColorstr='#00c9cb',GradientType=0 ); /* IE6-9 */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.brand:hover{
    cursor: pointer;
}

.buttonContinue{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: linear-gradient(to right, #00369a 0%,#00c9cb 100%);
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    border-radius: 8px;
}

.buttonContinue:hover, .buttonContinue:focus {
    background: linear-gradient(to right, #2e5aac 0%,#00c9cb 100%);
}

.buttonContinue:hover, .closeButton:hover{
    cursor: pointer;
}

.closeButton {
    color: grey
}

.buttonAccept {
    background: #2e5aac;
}

.buttonAccept:hover {
    background: #00369a;
}

.buttonReject{
    background: #6A737D;
}

.buttonReject:hover, .buttonReject:focus {
    background: #9b1717;
}